/* forms */

input, textarea
  &::-webkit-input-placeholder
    color: $primary-color
  &::-moz-placeholder
    color: $primary-color
  &:-ms-input-placeholder
    color: $primary-color
  &:-moz-placeholder
    color: $primary-color

button, input, optgroup, select, textarea
  margin: 0
  font: inherit
  color: inherit
  outline: none
  &:hover, &:focus, &:active
    outline: none

button, html input[type=button], input[type=reset], input[type=submit]
  -webkit-appearance: button
  cursor: pointer
  outline: none

.form
  &-group,  &__group
    position: relative
    margin-bottom: 17px

  &-control, &__control
    display: block
    width: 100%
    height: 34px
    padding: 6px 12px
    font-size: rem(14)
    line-height: 1.42857143
    color: #555
    background-color: $color-white
    background-image: none
    border-radius: 4px
    box-shadow: none
    transition: border all .35s, box-shadow all .35s
    border: 0
    border-radius: 65px
    height: 50px
    background: $color-white
    padding: 0 22px
    font-size: rem(15)
    font-family: $font-roboto-light
    // width: 263px
    border: 3px solid transparent
    &:focus
      box-shadow: none
      border-color: transparent
    &+.ion-alert-circled
      display: none
      position: absolute
      right: 21px
      top: 14px
      color: $color-red
      font-size: rem(16)
    &.has-error
      border-color: #913629
      color: $color-red
      padding-right: 50px
      &::-webkit-input-placeholder
        color: $color-red
      &::-moz-placeholder
        color: $color-red
      &:-ms-input-placeholder
        color: $color-red
      &:-moz-placeholder
        color: $color-red
      &+.ion-alert-circled
        display: block

textarea
  &.form-control, &.form__control
    height: 150px
    resize: none

label
  display: inline-block
  max-width: 100%
  margin-bottom: 5px
  font-weight: 700

.has
  &-success .form-control
    border-color: #3c763d
    box-shadow: inset 0 1px 1px rgba(#3c763d,.75)

  &-warning .form-control
    border-color: #8a6d3b
    box-shadow: inset 0 1px 1px rgba(#8a6d3b,.75)

  &-error .form-control
    border-color: #a94442
    box-shadow: inset 0 1px 1px rgba(#a94442,.75)

  &-success .control-label
    color: #3c763d

  &-warning .control-label
    color: #8a6d3b

  &-error .control-label
    color: #a94442

.label
  &__checked
    position: relative
    padding-left: 20px
    font-weight: 400
    font-size: rem(11)
    cursor: pointer
    color: #a6a5a5
    line-height: 1.2
    margin: -5px 0 0 0
    input[type="checkbox"]
      display: none
      &:checked
        &~.ion-android-checkbox-outline
          display: block
        &~.ion-android-checkbox-outline-blank
          display: none
    a
      color: #a6a5a5
      text-decoration: underline
      &:hover
        text-decoration: none
    .ion-android-checkbox-outline
      display: none
    i
      position: absolute
      left: 0
      font-size: rem(14)
      top: -1px
      line-height: 1
