doctype

html(lang="ru")
  
  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Телефон03' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    .breadcrumbs
      .container
        
        ul.breadcrumbs__list
          li
            a(href="#!") Телефон 03
          li
            span Название страницы
    
    .content
      .container
        
        .content__head
          h1 Башни сотовой связи вызывают рак
          .content__head-untitle Бразильские ученые бьют тревогу!
        
        .content__container
          .row
            .col-lg-10.col-lg-push-1
              img(src="./img/1-article-img.png", alt="").content__thumb
                
              p Внимание бразильских ученых привлекла серия смертей от рака в Бело Хоризонте, третьем по величине городе страны. 80% умерших жили в пределах 400 метров от башни сотовой связи, что натолкнуло ученых на вывод о вредном влиянии электромагнитного излучения башни на здоровье. Профессор Адильза Кондесса Доде прямо заявила, что, чем ближе ты живешь к башне сотовой связи, тем выше твой риск заболеть раком. Ей вторит Международная Ассоциация Исследования Рака, которая выпустила меморандум, в котором башни именуются «возможными канцерогенами» и содержится призыв строить их вдали от жилых массивов. Так что, если ты уже проживаешь в таком массиве, — узнай, соблюден ли при установке близлежащей вышки предельно допустимый уровень электромагнитного излучения.  
              
              .clear
              .content__share
                div
                  img(src="./img/share.png", alt="").img-responsive

    include ./_include/_wave

    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    
