// Footer
footer.footer
  .container
    
    .footer__copyright © Ремонт iPhone 2009 - 2017. Все права защищены
    .footer__development
      a(href="#!") Разработано в 
        img(src="./img/piarme.png", alt="")
  
