// Header
header.header
  .header__top
    .container
      a(href="#!")
        i.ion-android-call
        span +7 (123) 
          strong 456-78-90
      
  .container
    
    -var navigation = { 'Цена': '#', 'преимущества': '#', 'отзывы': '#', 'статьи': '#'};
    
    .header__logo
      a(href="#!")
        img(src="./img/logo.png", alt="")
    
    a(href="#!")
      i.ion-android-call
      span +7 (123) 
        strong 456-78-90
    
    .header__social
      a(href="#!")
        svg(xmlns='http://www.w3.org/2000/svg', version='1.2', viewbox='0 0 50 50')
          path(d='M25.002 0C11.192 0 0 11.192 0 25.002 0 38.808 11.192 50 25.002 50 38.808 50 50 38.808 50 25.002 50 11.192 38.808 0 25.002 0zm9.536 12.73l-3.458.003c-2.712 0-3.236 1.289-3.236 3.18v4.168h6.466l-.003 6.531h-6.463v16.754H21.1V26.61h-5.637v-6.53H21.1v-4.814c0-5.587 3.414-8.632 8.4-8.632l5.04.007v6.09h-.002zm0 0')
      a(href="#!")
        svg(xmlns='http://www.w3.org/2000/svg', version='1.2', viewBox="0 0 50 50")
          path(d='M25.002 0C11.195 0 0 11.192 0 25.002 0 38.808 11.195 50 25.002 50 38.808 50 50 38.808 50 25.002 50 11.192 38.808 0 25.002 0zm12.68 27.704c1.166 1.138 2.398 2.21 3.444 3.464.462.557.9 1.132 1.234 1.778.474.92.045 1.931-.78 1.986l-5.122-.003c-1.321.11-2.375-.422-3.262-1.326-.709-.722-1.366-1.49-2.048-2.238-.28-.305-.572-.592-.922-.82-.699-.453-1.306-.314-1.706.416-.406.741-.5 1.563-.539 2.39-.055 1.206-.42 1.523-1.63 1.578-2.591.123-5.049-.27-7.332-1.576-2.012-1.151-3.574-2.777-4.933-4.618-2.644-3.584-4.67-7.522-6.49-11.571-.41-.912-.11-1.402.896-1.419 1.671-.033 3.342-.03 5.015-.002.68.01 1.13.4 1.392 1.041.904 2.223 2.01 4.338 3.399 6.3.37.521.746 1.043 1.283 1.41.595.407 1.047.272 1.327-.39.177-.419.255-.871.294-1.32.133-1.547.15-3.09-.082-4.631-.142-.962-.684-1.584-1.643-1.766-.49-.093-.417-.275-.18-.554.412-.482.8-.782 1.57-.782h5.79c.912.18 1.114.59 1.24 1.506l.004 6.431c-.01.355.177 1.409.817 1.643.512.168.849-.241 1.156-.566 1.387-1.471 2.376-3.21 3.26-5.01.392-.792.729-1.614 1.056-2.436.243-.61.622-.91 1.31-.896l5.57.005c.166 0 .333.002.493.03.94.16 1.196.564.907 1.48-.457 1.44-1.347 2.638-2.216 3.842-.929 1.286-1.923 2.528-2.844 3.821-.847 1.182-.78 1.776.272 2.803zm0 0', fill-rule='evenodd')
    
    .header__nav
      button#mobile(type="button").header__nav-btn
        i.ion-android-menu
        span Меню
      .header__nav-shadow
      nav.navigation(role="navigation")
        ul.navigation__ul
          each val, key in navigation
            if active === key
              li.active
                a(href=val, title=key)= key
            else
              li
                a(href=val, title=key)= key
        .navigation__social
          span следите за нами в сети
          a(href="#!")
            svg(xmlns='http://www.w3.org/2000/svg', version='1.2', viewbox='0 0 50 50')
              path(d='M25.002 0C11.192 0 0 11.192 0 25.002 0 38.808 11.192 50 25.002 50 38.808 50 50 38.808 50 25.002 50 11.192 38.808 0 25.002 0zm9.536 12.73l-3.458.003c-2.712 0-3.236 1.289-3.236 3.18v4.168h6.466l-.003 6.531h-6.463v16.754H21.1V26.61h-5.637v-6.53H21.1v-4.814c0-5.587 3.414-8.632 8.4-8.632l5.04.007v6.09h-.002zm0 0')
          a(href="#!")
            svg(xmlns='http://www.w3.org/2000/svg', version='1.2', viewBox="0 0 50 50")
              path(d='M25.002 0C11.195 0 0 11.192 0 25.002 0 38.808 11.195 50 25.002 50 38.808 50 50 38.808 50 25.002 50 11.192 38.808 0 25.002 0zm12.68 27.704c1.166 1.138 2.398 2.21 3.444 3.464.462.557.9 1.132 1.234 1.778.474.92.045 1.931-.78 1.986l-5.122-.003c-1.321.11-2.375-.422-3.262-1.326-.709-.722-1.366-1.49-2.048-2.238-.28-.305-.572-.592-.922-.82-.699-.453-1.306-.314-1.706.416-.406.741-.5 1.563-.539 2.39-.055 1.206-.42 1.523-1.63 1.578-2.591.123-5.049-.27-7.332-1.576-2.012-1.151-3.574-2.777-4.933-4.618-2.644-3.584-4.67-7.522-6.49-11.571-.41-.912-.11-1.402.896-1.419 1.671-.033 3.342-.03 5.015-.002.68.01 1.13.4 1.392 1.041.904 2.223 2.01 4.338 3.399 6.3.37.521.746 1.043 1.283 1.41.595.407 1.047.272 1.327-.39.177-.419.255-.871.294-1.32.133-1.547.15-3.09-.082-4.631-.142-.962-.684-1.584-1.643-1.766-.49-.093-.417-.275-.18-.554.412-.482.8-.782 1.57-.782h5.79c.912.18 1.114.59 1.24 1.506l.004 6.431c-.01.355.177 1.409.817 1.643.512.168.849-.241 1.156-.566 1.387-1.471 2.376-3.21 3.26-5.01.392-.792.729-1.614 1.056-2.436.243-.61.622-.91 1.31-.896l5.57.005c.166 0 .333.002.493.03.94.16 1.196.564.907 1.48-.457 1.44-1.347 2.638-2.216 3.842-.929 1.286-1.923 2.528-2.844 3.821-.847 1.182-.78 1.776.272 2.803zm0 0', fill-rule='evenodd')

        .navigation__phone
          small Нужна помощь? звоните!
          a(href="#!")
            i.ion-android-call
            | +7 (123) 
            strong 456-78-90

.header__separator
