.loader
  .loader__block

#popup1.popup.popup--master
  .popup__wrapper
    .popup__close
    .popup__container
      .popup__title Здравствуйте!
        small Оставьте номер, и мы Вам перезвоним!
      
      form(action="#!")
        .form-group
          input(type="text" placeholder="Как вас зовут?").form-control
          i.ion-alert-circled
        .form-group
          input(type="text" placeholder="Контактный телефон").form-control
          i.ion-alert-circled
