/*==========  Desktop First Method  ==========*/

/* 1920 */
@media only screen and (min-width : 1999px)
  /**/

@media only screen and (max-width : 1599px)
  .main-slide
    margin-top: 0
    margin-bottom: 0
    &__form
      margin-top: -154px
    &__wrapper
      height: 610px
      background: url('../img/main-slider/ms-background-1200.jpg') top center no-repeat
      background-size: auto 546px
      &-body
        height: 540px
        width: 1199px
        background-size: cover
    &__blockRight
      img
        &.main-slide__blockRight-img1
          margin-right: 20px
          margin-top: 118px
          width: 295px
        &.main-slide__blockRight-img2
          width: 80px
          margin-top: 76px
        &.main-slide__blockRight-img3
          width: 127px
          margin-right: 200px
          margin-top: 230px
        &.main-slide__blockRight-img4
          width: 106px
          margin-top: 482px
        &.main-slide__blockRight-img5
          display: none
        &.main-slide__blockRight-img6
          display: none
    &__blockCenter
      img
        &.main-slide__blockCenter-img1
          width: 289px
          margin-top: 102px
          margin-left: 362px
        &.main-slide__blockCenter-img2
          width: 253px
          margin-top: 40px
          right: 387px
        &.main-slide__blockCenter-img3
          // display: block
          width: 588px
          margin-top: 0
          margin-right: 328px
        &.main-slide__blockCenter-img4
          width: 349px
          margin-top: 43px
          margin-right: 275px
        &.main-slide__blockCenter-img5
          width: 255px
          margin-right: 432px
          margin-top: 41px
        &.main-slide__blockCenter-img6
          width: 204px
          margin-top: -11px
          margin-right: 540px
        &.main-slide__blockCenter-img7
          width: 420px
          margin-top: 72px
          margin-right: 422px
        &.main-slide__blockCenter-img8
          width: 253px
          margin-top: 57px
          margin-right: 433px
    &__blockLeft
      img
        &.main-slide__blockLeft-img1
          margin-left: 7px
          margin-top: 78px
          width: 311px
        &.main-slide__blockLeft-img2
          margin-left: 85px
          margin-top: 7px
          width: 190px
        &.main-slide__blockLeft-img3
          display: none
        &.main-slide__blockLeft-img4
          width: 96px
          margin-top: 356px
          margin-left: 215px
          z-index: 15


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1439px)
  /**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
  .wave
    &__wrapper
      padding-top: 100px
    &__input
      width: 240px
    &__btn
      width: 240px
    &__form
      &-wrapper
        padding-left: 63px
        padding-right: 63px
    &__content
      &-img
        width: 476px
        img
          &:first-child
            width: 476px
            bottom: 12px
            &+img
              width: 462px
              left: -6px
      &-block
        width: 213px
        &>div
          line-height: 1.2
          &:first-child
            width: 132px
      &-row
        &>div
          &+div
            margin-left: 30px
    &__title
      &--why
        max-width: 450px
        strong
          margin-left: 130px
  .header
    &__social
      margin-right: 13px
    &__nav
      padding-right: 295px
  .contact
    &__img
      margin: 0
      width: 316px
    &__body
      &-one
        margin-left: 45px
      &-two
        margin-left: 90px
  .product
    &__wrapper
      margin-bottom: 135px
    &__center
      padding-left: 323px
      padding-right: 293px
    &__img
      width: 293px
      height: 403px
      &--phone
        img
          max-width: 320px
    &__form
      &-img
        img
          width: 530px
          margin-left: 242px
  .about
    &__info
      &-wrapper
        width: 243px
        .contact__block
          a
            font-size: rem(16)
            margin: 3px 0
      &-p
        font-size: rem(12)
        width: 140px
        line-height: 18px
        &+.about__info-p
          margin-top: 5px
  .whe-work
    &__wrapper
      &-img
        padding-left: 20px
    &__top
      &-wrapper
        height: 285px
      &-img
        height: 285px
        &--1
          // background: pink
          img
            height: 292px
            margin-left: 0
            &+img
              height: 275px
        &--2
          // background: pink
          img
            bottom: -3px
            height: 250px
            &+img
              height: 250px
        &--3
          // background: pink
          img
            bottom: -48px
            height: 336px
            &+img
              height: 341px
        &--4
          // background: pink
          img
            margin: 0
            // bottom: -48px
            height: 300px
            &+img
              height: 300px
  .comments
    padding-bottom: 125px
    &__top-block
      &__wrapper
        width: 910px
      &__title
        left: 94px
      &__quote
        right: 90px
  // .main-banner
  //   display: block
  //   background-image: url('../img/main-slide/main-slide-1170.jpg')


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  .wave
    &__wrapper
      padding-top: 90px
    &__form
      display: none
    &__title
      width: 530px
      margin-bottom: 65px
      strong
        margin-left: 68px
      &--why
        max-width: 440px
        strong
          margin-left: 115px
    &__content
      display: flex
      flex-direction: column
      &>div
        order: 1
        &:first-child
          order: 2
      &-body
        width: 100%
        max-width: 610px
        display: block
        margin: 0 auto
      &-img
        position: relative
        right: inherit
        bottom: inherit
        width: 100%
        max-width: 462px
        height: 310px
        margin: 0 auto
      &-block
        width: 290px
        &>div
          &:first-child
            width: 205px
        br
          display: none
      &-row
        &>div
          &+div
            margin-left: 15px
    &__bottom
      display: block
      &--main
        padding-top: 5px
  .header
    &__nav
      &-btn
        display: block
  .navigation
    position: absolute
    width: 260px
    border-radius: 7px
    background: $color-red
    color: $color-white
    text-align: left
    box-shadow: 0 0 40px rgba($color-black,.4)
    margin-top: 10px
    opacity: 0
    z-index: -1
    transform: translateY(10px)
    transition: transform 0.35s
    visibility: hidden
    &::before
      position: absolute
      content: ''
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAQCAYAAAD9L+QYAAABGElEQVQ4jbXUPS9DURjA8Z/bxiAhEhYp1YQvICySJkIMGC0mn8HSjcVsYcXUxCRiYCFhMTBYDGzEYDUYavESw703uZr2tqnrn5yckyfn/J+T57x0fS9NaIMSdjCDL1SxgVraoq425AXcYLgufot5vDVbGLQQd+OwgRimcIqeTuQ57GM6ZU45LUEzeS8OsJoijpnFmbB8qfJ+VPCAlTbEMWXcYU1Yyl/yMezhBVsa17gVA9jGPeYgHw2O0deBsBHjOMdigN0MxTE5bAYYylgcMxng5J/ktQDrUl7ZH7gO8IhlvGcsr8ZX8RILeM1I/ISjfCJwJTzcAooYjVoRI1FfkvKXJKjgM18X/MBz1JoxmEiY3EAcuxC+Gz++2C0Tls2gEAAAAABJRU5ErkJggg==') 0 0 no-repeat
      width: 23px
      height: 16px
      top: -7px
      left: 44px
    &__ul
      font-size: rem(20)
      font-family: $font-roboto
      padding: 27px 0 21px 0
      &>li
        display: block
        margin: 0
        &>a,&>span
          display: block
          margin: 0
          color: $color-white
          height: 36px
          line-height: 36px
          padding: 0 28px
        &>a
          &:hover
            color: $color-white
        &.active
          &>a,&>span
            color: #ab2310
    &__social
      display: block
      background: #ff6651
      color: #ab2310
      font-family: $font-roboto-bold
      font-size: rem(12)
      text-transform: uppercase
      padding: 13px 0 13px 28px
      height: 57px
      margin-bottom: 1px
      span
        display: inline-block
        width: 85px
        vertical-align: middle
        margin-right: 33px
      a
        display: inline-block
        vertical-align: middle
        svg
          path
            fill: #ab2310
        &+a
          margin-left: 9px
    &__phone
      display: block
    &.is-active
      opacity: 1
      z-index: 1050
      transform: translateY(0)
      visibility: visible
  .articles
    &__block
      margin-bottom: 40px
  .contact
    &__img
      width: 233px
    &__body
      &-one
        margin-left: 25px
      &-two
        margin-left: 30px
    &__social
      img
        width: 215px
  .product
    &__wrapper
      margin-bottom: 55px
    &__info
      display: none
    &__center
      padding-right: 0
      padding-left: 250px
    &__img
      height: auto
      width: 250px
      img
        width: 210px
      &--phone
        img
          width: 240px
    &__form
      display: none
    &__btn
      display: block
  .price
    &__table
      &-block
        &__wrapper
          padding-left: 35px
          padding-right: 35px
          [class*="col-md-"]
            .price__table-link
              &>div
                &:first-child
                  padding-left: 0 !important
                &:last-child
                  min-width: 100px !important
          .row
            &:first-child
              [class*="col-md-"]
                &.last
                  .price__table-link
                    border-top: 1px solid #e5e5e5
      &-link
        padding: 12px 0
  .faq
    &__block
      margin-bottom: 5px
      &.is-active
        margin-bottom: 15px
    &__row
      max-width: 530px
      margin: 0 auto
  .whe-work
    &__wrapper
      &-block
        padding-left: 35px
        font-size: rem(12)
      &-text
        width: 130px
      &-number
        font-size: rem(64)
        top: 101px
      &-img
        padding-left: 0
  .about
    &__info
      &-wrapper
        padding-left: 30px
        width: 250px
  .whe-work
    &__top
      display: none
  .comments
    padding-bottom: 125px
    &__top-block
      &__wrapper
        width: 690px
      &__title
        left: 30px
        width: 504px
      &__quote
        right: 30px
    &__carousel
      &-bottom
        width: 550px
    &--document
      padding-bottom: 64px !important
  .main-banner
    height: 374px
    background-image: url('../img/main-slide/main-slide-750.jpg')
  .main-slide
    padding-bottom: 15px
    &__form
      margin-top: -82px
      position: relative
      z-index: 40
    &__wrapper
      height: 473px
      &-body
        height: 437px
        width: 991px
        background-image: url('../img/main-slider/ms-background-750.jpg')
    &__blockRight
      img
        &.main-slide__blockRight-img1
          width: 237px
          margin-right: 101px
          margin-top: 102px
        &.main-slide__blockRight-img2
          width: 30px
          margin-right: 90px
          margin-top: 36px
        &.main-slide__blockRight-img3
          width: 56px
          margin-right: 131px
          margin-top: 51px
        &.main-slide__blockRight-img4
          width: 89px
          margin-right: 247px
          margin-top: 180px
          display: block
        &.main-slide__blockRight-img5
          display: block
          width: 65px
          margin-top: 306px
          margin-right: 0
        &.main-slide__blockRight-img6
          display: block
          width: 75px
          margin-top: 367px
          margin-right: 287px
    &__blockCenter
      img
        &.main-slide__blockCenter-img1
          width: 202px
          margin-top: 102px
          margin-left: 332px
        &.main-slide__blockCenter-img2
          width: 178px
          margin-top: 55px
          right: 337px
        &.main-slide__blockCenter-img3
          // display: none
          width: 412px
          margin-top: 20px
          margin-right: 288px
        &.main-slide__blockCenter-img4
          // display: none
          width: 245px
          margin-top: 43px
          margin-right: 295px
        &.main-slide__blockCenter-img5
          // display: none
          width: 255px
          margin-right: 350px
          margin-top: 29px
        &.main-slide__blockCenter-img6
          // display: none
          width: 143px
          margin-right: 442px
          margin-top: 1px
        &.main-slide__blockCenter-img7
          // display: none
          width: 294px
          margin-top: 82px
          margin-right: 362px
        &.main-slide__blockCenter-img8
          // display: none
          width: 138px
          margin-top: 80px
          margin-right: 396px
    &__blockLeft
      img
        &.main-slide__blockLeft-img1
          margin-left: 56px
          margin-top: 52px
          width: 254px
        &.main-slide__blockLeft-img2
          margin-left: 135px
          margin-top: 7px
          width: 133px
        &.main-slide__blockLeft-img3
          width: 63px
          margin-top: 192px
          display: block
          left: 0
        &.main-slide__blockLeft-img4
          margin-top: 336px
          margin-left: 264px
          width: 67px

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)

  .animated
    transition-property: none !important
    transform: none !important
    animation: none !important

  .wave
    padding-top: 0
    &__title
      width: 450px
      font-size: rem(25)
      strong
        font-size: rem(45)
        margin-left: 37px
      &--why
        max-width: 367px
        font-size: rem(32)
        strong
          margin-left: 75px
    &__content
      &-body
        width: 452px
      &-block
        width: 217px
        br
          display:block
      &-row
        margin-bottom: 55px
      &-img
        width: 435px
        img
          width: 435px !important
    &__bottom
      &--main
        margin-bottom: -20px
  .content
    &__head
      margin-bottom: 45px
  .header
    margin-top: 27px
    &__top
      display: block
    &__logo
      &+a
        display: none
    &__nav
      padding: 0
      float: right
      margin-right: -205px
    &__social
      margin-right: 140px
      margin-top: 10px
    &__separator
      height: 107px
  .navigation
    right: 13px
    &::before
      left: 154px
  .articles
    &__block
      width: 50%
  .footer
    height: auto
    line-height: normal
    padding: 10px 0
    &__copyright, &__development
      float: none
      text-align: center
      height: 30px
      line-height: 30px
  .contact
    &__wrapper
      display: flex
      flex-direction: column
      align-items: center
      &>div
        display: block
    &__body
      &-one
        margin-left: 0
      &-two
        margin-left: 0
  .product
    &__title
      margin-bottom: 30px
    &__img
      padding-left: 0
      width: 170px
      img
        max-width: 210px
      &--phone
        margin-left: -10px
        &~.product__center
          padding-top: 32px
    &__center
      padding-top: 120px
      padding-left: 170px
    &__btn
      padding-top: 26px
  .btn
    &--master
      max-width: 264px
  .price
    &__table
      &-block
        &__wrapper
          padding-left: 0
          padding-right: 0
      &-link
        font-size: rem(12)
        padding-left: 20px
        padding-right: 20px
        &>div
          &:last-child
            text-align: right
  .about
    &__info
      &-wrapper
        width: 290px
        margin: 0 auto
    &__content
      margin-bottom: 25px
  .whe-work
    &__body
      background-size: cover
      padding-top: 85px
      background-position: -281px 0
    &__wrapper
      flex-wrap: wrap
      &-div
        width: 50%
      &-arrow
        display: none
      &-img
        img
          margin: 0 auto
      &-number
        font-size: rem(80)
      &-block
        padding-left: 55px
        margin-bottom: 50px
  .comments
    padding-bottom: 125px
    padding-bottom: 95px
    &__top-block
      &__wrapper
        width: 450px
      &__title
        left: 26px
        width: 382px
        height: 44px
        line-height: 44px
        font-size: rem(20)
        text-align: left
        padding-left: 28px
      &__quote
        right: 26px
        height: 58px
        width: 58px
        line-height: 85px
        font-size: rem(60)
    &__carousel
      &-bottom
        width: 380px
  .main-banner
    height: 336px
    background-image: url('../img/main-slide/main-slide-480.jpg')
    background-size: auto
    display: block
  .main-slide
    padding-bottom: 15px
    &__wrapper
      display: none
    &__form
      margin-top: -68px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
  .h1, h1
    font-size: rem(25)
  .content
    &__head
      &-untitle
        font-size: rem(16)
  .wave
    &__wrapper
      padding-top: 80px
    &__content
      &-img
        width: 270px
        height: 182px
        img
          width: 270px !important
      &-body
        width: 230px
      &-row
        display: flex
        flex-direction: column
        margin-bottom: 25px
        &>div
          &+div
            margin-left: 0
            margin-top: 25px

      &-block
        &>div
          &:first-child
            width: 145px
        img
          float: right
    &__title
      width: auto
      font-size: rem(20)
      margin-bottom: 40px
      strong
        font-size: rem(30)
        margin-left: 0
        text-align: right
      &--why
        max-width: 227px
    &__container
      padding-bottom: 70px
      padding-top: 0
    &__bottom
      .wave__btn
        max-width: 290px
  .header
    &__social
      display: none
    &__nav
      margin-right: 0
      margin-left: 0
      &-btn
        width: 30px
        span
          display: none
        i
          font-size: rem(19)
          margin: 0
  .navigation
    &::before
      left: inherit
      right: 5px
  .articles
    &__block
      width: 100%
  .footer
    font-size: rem(12)
  .popup
    max-width: 280px
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4), 0 0 60px rgba(0, 0, 0, 0.5)
    &__wrapper
      padding-left: 15px
      padding-right: 15px
    &__close
      right: -16px
  .product
    &__img
      float: none
      width: 100%
      width: 210px
      margin: 0 auto 35px
      &--phone
        &~.product__center
          padding-top: 0
      img
        margin: 0 auto
        display: block
        max-width: 100%
    &__center
      padding-left: 0
      padding-top: 0
      width: 100%
      text-align: center
  .whe-work
    &__body
      background-position: -281px 0
    &__wrapper
      &-div
        width: 100%
      &-block
        padding-left: 138px
        width: 260px
        margin-left: auto
        margin-right: auto
      &-number
        left: 84px
        top: -16px
      &-img
        margin: 0
        position: absolute
        left: 0
        top: -5px
        img
          width: 60px
    &__form
      margin-top: 0
  .price
    &__model
      &-head
        width: 270px
  .comments
    padding-top: 65px
    &__top-block
      &__wrapper
        width: 290px
      &__title
        left: 0px
        font-size: rem(14)
        padding-left: 15px
        width: 270px
      &__quote
        right: 0px
      &__content
        padding-left: 25px
        padding-right: 25px
        font-size: rem(16)
        p
          line-height: 22px
      &__input
        width: 230px
        bottom: 50px
        input
          float: none
          width: 100%
        button
          width: 100%
          float: none
    &__carousel
      &-bottom
        width: 260px
  .main
    &__slide
      padding-bottom: 0
    &-slider
      margin-bottom: 0
    &-banner
      background-image: url('../img/main-slide/main-slide-320.jpg')

/* Custom, iPhone Retina */
@media only screen and (max-width : 319px)
  /**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  /**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  /**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  .container
    width: 750px

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  .container
    width: 970px

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  .container
    width: 1170px

/* 1440 */
@media only screen and (min-width : 1440px)
  /**/

@media only screen and (max-width : 1600px)
  /**/

/* 1920 */
@media only screen and (min-width : 1920px)
  /**/
